name: assignment-test

on:
  push:
    tags-ignore:
      - '*'
    branches:
      - '*'

jobs:
  unit-test:
    runs-on: ubuntu-latest
    container: cuaesd/aesd-autotest:24-unit-test
    steps:
      - uses: actions/checkout@v2

      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Install build dependencies
        run: |
          apt-get update
          apt-get install -y \
            gcc-aarch64-linux-gnu \
            g++-aarch64-linux-gnu \
            binutils-aarch64-linux-gnu \
            make \
            bc \
            bison \
            flex \
            libssl-dev \
            libelf-dev \
            cpio \
            rsync \
            file

      - name: Run unit test
        run: ./unit-test.sh

  full-test:
    runs-on: ubuntu-latest
    container: cuaesd/aesd-autotest:24-assignment3
    steps:
      - uses: actions/checkout@v2

      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Install build dependencies
        run: |
          apt-get update
          apt-get install -y \
            gcc-aarch64-linux-gnu \
            g++-aarch64-linux-gnu \
            binutils-aarch64-linux-gnu \
            make \
            bc \
            bison \
            flex \
            libssl-dev \
            libelf-dev \
            cpio \
            rsync \
            file

      - name: Run full test
        run: ./full-test.sh
