name: assignment-test

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'

jobs:
  unit-test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Run unit test in container
        run: |
          docker run --rm --platform linux/amd64 \
            -v $PWD:/workspace -w /workspace \
            cuaesd/aesd-autotest:24-unit-test \
            ./unit-test.sh

  full-test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Run full test in container
        run: |
          docker run --rm --platform linux/amd64 \
            -v $PWD:/workspace -w /workspace \
            cuaesd/aesd-autotest:24-assignment1 \
            ./full-test.sh

